@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end of letters */

/* location-specific */
#chapter-40 blockquote header{
	font-variant: small-caps;
	margin-bottom: 1em;
	text-align: center;
}

#chapter-40 blockquote header p:first-child{
	text-align: right;
}

#chapter-40 blockquote header p:last-child{
	font-size: 1.5em;
	text-transform: lowercase;
}
/* end of location-specific */
